/* -----------------------------------------------
  *SITE-WIDE STYLES
----------------------------------------------- */

a{
  &:hover{ text-decoration: none; }
}

@media (min-width: $desktop) {
  body #content { max-width: 1340px; }
}

/* -----------------------------------------------
  *CUSTOM SITE LOGO
----------------------------------------------- */

// WORDPRESS ADMIN BAR SPACING
body{
  #wrapper-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  #page > div {
    background: #ffEEEE;
    padding-top: $desktop-sitehead;
  }
  &.admin-bar {
    #wrapper-navbar{ top: $desktop-adminbar; }}
}

// CENTERED DESKTOP SITE ICON
#nav_desktop{
  display: none;
  text-align: center;
}
    @media (min-width: $laptop) {
      #nav_desktop { display: block; }
      #nav_mobile { display: none; }
    }

#site-head{
}

// SVG LOGO
#logo {
  background-color: $link;
  display: flex;
  height: 2.5rem;
  margin: 0 auto;
  mask-image: $site-logo;
  mask-repeat: no-repeat;
  mask-position:  center;
  width: 13.75rem;
  &:hover{
    background-color: $link-hover;
    color: $link-hover;
  }
}


/* -----------------------------------------------
  *SITENAV
----------------------------------------------- */

#navbarNavDropdown{
  flex-direction: row-reverse;
}
    @media (min-width: $laptop) {
      #main-menu{ margin: 0 auto; }
    }

nav.navbar{
  padding: 0;
  .navbar-toggler-icon{
    background-color: $link;
    &:hover{ background-color: $link-hover; }
  }
  .navbar-nav {
    color: $link;
    a { color: $link; }
    .active > .nav-link{ color: $link-hover; }
    .show > .nav-link{ color: $link-hover; }
    .nav-link{
      &:focus{ color: $link-hover; }
      &:hover{ color: $link-hover; }
      &.active{ color: $link-hover; }
      &.disabled{ color: $link-hover; }
      &.show{ color: $link-hover; }
      .active > .nav-link{ color: $link-hover; }
      .show > .nav-link{ color: $link-hover; }
    }
  }
}

#navbarNavDropdown{
  ul.dropdown-menu{
    border: none;
    border-radius: 0;
    margin-top: 0;
    opacity: 0;
    &.show{
      opacity: 1;
      transition: opacity 1s;
    }
  }
}


/* -----------------------------------------------
  *HOMEPAGE
----------------------------------------------- */

body{
  #content{
    min-height: 90vh;
  }
  &.home #page > div{
    background-color: none;
    background-image: $bg-table;
    transition: background-image 0.75s ease-in-out;
    background-size: contain;
    .entry-content > p{
      display: table-cell;
      height: 70vh;
      vertical-align: bottom;
    }
  }
}


/* -----------------------------------------------
  *FOOTER
----------------------------------------------- */

#wrapper-footer-full{
}
#wrapper-footer {
}


/* -----------------------------------------------
  *WIDGETS
----------------------------------------------- */

#countdowntimer-3 {
  .widget-title{
    display: block;
    text-align: center;
  }
  #countdowntimer-3-countdown{
    display: block;
  }
  .carbonite-responsive-dashboard {
    background: inherit !important;
    border: inherit !important;
    text-align: left !important;
  }
  .carbonite-responsive-tripdash, .carbonite-responsive-dash{
    width: 24% !important;
    max-width: inherit !important;
  }
  .carbonite-responsive-digit {
    font-family: inherit !important;
    font-weight: inherit !important;
  }
}



/* -----------------------------------------------
  *TEST
----------------------------------------------- */
.test{
  background: rgba(255,0,0,.75) !important;
  border: dotted 1px rgba(0,0,255,.25);
}
